@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul>
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" style="font-size: 14px;font-weight: 500;" class="btn text-dark"><i class="lni lni-exit" style="color:#5830E0;margin-right: 8px"></i>Çıkış yap</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Login"><i class="lni lni-enter"></i> Giriş yap</a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Register"><i class="lni lni-user"></i> Üye ol</a>
        </li>
    }
</ul>