<div class="dashboard-sidebar">
    <div class="dashboard-menu">
        <ul>
            <li><a asp-controller="Posts" asp-action="UserPosts"><i class="lni lni-bolt-alt"></i>İlanlarım</a></li>
            <li>
                <a asp-controller="Posts" asp-action="Create">
                    <i class="lni lni-circle-plus"></i> İlan ver
                </a>
            </li>
            <!--
                  <li><a class="active" asp-controller="Categories" asp-action="Index"><i class="lni lni-bolt-alt"></i>Kategoriler</a></li>
            <li>
                <a asp-controller="Categories" asp-action="Create">
                    <i class="lni lni-circle-plus"></i> Kategori ekle
                </a>
            </li>
            -->

        </ul>
        <div class="button">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button class="btn" type="submit">Çıkış yap</button>
            </form>
        </div>
    </div>
</div>
