@{
    ViewData["Title"] = "Sarı Sayfalar Hakkında";
}
<section class="how-works section items-grid custom-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Sarı Sayfalar nedir?</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">
                    <p>Sarı Sayfalar'da her tür ilan verebilir, verilen ilanları inceleyebilir, ilan sahipleri ile iletişime geçebilirsiniz.</p>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single-work wow fadeInUp" data-wow-delay=".2s">
                    <span class="serial">01</span>
                    <h3>Üye ol</h3>
                    <p>E-posta adresinizle üye olup sarı sayfaları kullanmaya başlayın.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single-work wow fadeInUp" data-wow-delay=".4s">
                    <span class="serial">02</span>
                    <h3>İlan ver</h3>
                    <p>İlan ver butonuna tıklayarak kolayca ilanınızı yayınlayın.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single-work wow fadeInUp" data-wow-delay=".6s">
                    <span class="serial">03</span>
                    <h3>İlanları incele</h3>
                    <p>Sarı sayfalar'daki ilanları inceleyip ilan sahipleriyle iletişime geçin, zamandan kazanın.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="call-action overlay section">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-2 col-12">
                <div class="inner">
                    <div class="content">
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">
                            Siz de ilanınızı Sarı Sayfalar'da verin<br>
                            zamandan tasarruf edin
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Sarı sayfalar ile siz de zaman kazanın<br> Sarı Sayfalar'da ilan vermek çok kolay!</p>
                        <div class="button wow fadeInUp" data-wow-delay=".8s">
                            <a asp-controller="Posts" asp-action="Create" class="btn">Hemen ilan ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>