@model IEnumerable<ShortListMVC.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Güncel ilanlar</p>
    <p><a asp-controller="Posts" asp-action="Create">Yeni ilan oluştur</a></p>
</div>

<div class="row text-center">
    <div class="col-md-6 mx-auto">
        <h4>İlan ara</h4>
        <p class="mb-3">Anahtar kelime ile arama yapabilirsiniz.</p>

        <form action="" class="">
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg" placeholder="Anahtar kelime giriniz..">
                <button type="submit" class="input-group-text btn-success"><i class="bi bi-search me-2"></i> Ara</button>
            </div>
        </form>
    </div>

</div>

<div class="row" data-masonry='{"percentPosition": true }'>
    @foreach (var post in Model)
    {
        <div class="col-lg-4 col-xl-3">
            <div class="card my-3">
                @if (!string.IsNullOrEmpty(post.ImageUrl))
                {
                    <img src=@post.ImageUrl class="img-fluid" alt="thumbnail" />
                }
                <div class="card-body">
                    <h3 class="card-title">@post.Title</h3>
                    <p class="card-text">@post.Content</p>
                    <a asp-controller="Posts" asp-action="Details" asp-route-id=@post.Id class="stretched-link">

                    </a>
                </div>
            </div>
        </div>
    }
</div>

