@model ShortListMVC.Models.Post

@{
    ViewData["Title"] = "Yeni İlan Oluştur";
}

<section class="dashboard section" style="margin-top:100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="dashboard-sidebar">
                    <div class="dashboard-menu">
                        <ul>
                            <li><a class="active" asp-controller="Posts" asp-action="UserPosts"><i class="lni lni-bolt-alt"></i>İlanlarım</a></li>
                            <li>
                                <a asp-controller="Posts" asp-action="Create">
                                    <i class="lni lni-circle-plus"></i> İlan ver
                                </a>
                            </li>
                            <li><a class="active" asp-controller="Categories" asp-action="Index"><i class="lni lni-bolt-alt"></i>Kategoriler</a></li>
                            <li>
                                <a asp-controller="Categories" asp-action="Create">
                                    <i class="lni lni-circle-plus"></i> Kategori ekle
                                </a>
                            </li>
                        </ul>
                        <div class="button">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button class="btn" type="submit">Çıkış yap</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="main-content">
                    <div class="dashboard-block mt-0">
                        <h3 class="block-title">İlan ver</h3>
                        <div class="inner-block">
                            <div class="post-ad-tab">
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade active show" id="nav-item-info" role="tabpanel" aria-labelledby="nav-item-info-tab">
                                        <div class="step-one-content">
                                            <form asp-action="Create" class="default-form-style" method="post">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group mb-0">
                                                            <label asp-for="Title" class="control-label">Başlık*</label>
                                                            <input asp-for="Title" class="form-control" placeholder="Başlık giriniz" />
                                                            <span asp-validation-for="Title" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-12">
                                                        <div class="form-group mb-0">

                                                            <label>Kategori</label>
                                                            <div class="selector-head">
                                                                <span class="arrow"><i class="lni lni-chevron-down"></i></span>
                                                                <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="user-chosen-select">
                                                                    <option value="none" selected disabled>Kategori seçiniz</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-12">
                                                        <div class="form-group mb-0">
                                                            <label>Şehir</label>
                                                            <div class="selector-head">
                                                                <span class="arrow"><i class="lni lni-chevron-down"></i></span>
                                                                <select asp-for="CityId" asp-items="@ViewBag.Cities" class="user-chosen-select">
                                                                    <option value="none selected disabled">Şehir seçiniz</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group mb-0 mt-3">
                                                            <label asp-for="Content" class="control-label">Açıklama*</label>
                                                            <textarea asp-for="Content" class="form-control" placeholder="Açıklama giriniz" rows="5" cols="40"></textarea>
                                                            <span asp-validation-for="Content" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group mb-0">
                                                            <label asp-for="Tags" class="tag-label">Etiketler</label>
                                                            <input asp-for="Tags" class="form-control" data-role="tagsinput"/>
                                                            <span asp-validation-for="Tags" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group mb-0">
                                                            <label asp-for="ImageUrl" class="control-label">Resim</label>
                                                            <input asp-for="ImageUrl" class="form-control" placeholder="Link giriniz" />
                                                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12" style="display:none">
                                                        <label asp-for="AccountId" class="control-label"></label>
                                                        <input asp-for="AccountId" class="form-control" value="0" />

                                                    </div>
                                                    <div class="col-12 form-check" style="padding-left: 2.5em; margin-bottom: 1.125rem">
                                                        <input checked class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                        <label class="form-check-label" for="flexCheckDefault">
                                                            <a href="#">Kullanım şartları</a>nı kabul ediyorum
                                                        </label>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group button mb-0">
                                                            <button type="submit" class="btn">İlan ver</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="call-action overlay section">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-2 col-12">
                <div class="inner">
                    <div class="content">
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">
                            Siz de ilanınızı Sarı Sayfalar'da verin<br>
                            zamandan tasarruf edin
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Sarı sayfalar ile siz de zaman kazanın<br> Sarı Sayfalar'da ilan vermek çok kolay!</p>
                        <div class="button wow fadeInUp" data-wow-delay=".8s">
                            <a asp-controller="Posts" asp-action="Create" class="btn">Hemen ilan ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<div class="col-lg-6 col-12">
    <div class="upload-input">
        <input type="file" id="upload" name="upload">
        <label for="upload" class="text-center content">
            <span class="text">
                <span class="d-block mb-15">
                    Drop files anywhere
                    to Upload
                </span>
                <span class=" mb-15 plus-icon"><i class="lni lni-plus"></i></span>
                <span class="main-btn d-block btn-hover">
                    Select
                    File
                </span>
                <span class="d-block">
                    Maximum upload file size
                    10Mb
                </span>
            </span>
        </label>
    </div>
</div>
<div class="col-12">
    <div class="google-map">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="100%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 300px;
                        width: 100%;
                    }
                </style><a href="https://www.embedgooglemap.net">
                    embed
                    google maps wordpress
                </a>
                <style>
                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 300px;
                        width: 100%;
                    }
                </style>
            </div>
        </div>
    </div>
</div>

-->
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
 <script>
    $(function () {
      $('input')
        .on('change', function (event) {
          var $element = $(event.target);
          var $container = $element.closest('.example');

          if (!$element.data('tagsinput')) return;

          var val = $element.val();
          if (val === null) val = 'null';
          var items = $element.tagsinput('items');
          // console.log(items[items.length - 1]);

          $('code', $('pre.val', $container)).html(
            $.isArray(val)
              ? JSON.stringify(val)
              : '"' + val.replace('"', '\\"') + '"'
          );
          $('code', $('pre.items', $container)).html(
            JSON.stringify($element.tagsinput('items'))
          );
           //console.log(val);
    //console.log(items);
    //console.log(JSON.stringify(val));
    //console.log(JSON.stringify(items));

    //console.log(items[items.length - 1]);
    $("#Tags").val(val);
        })
        .trigger('change');

        $('input').on('itemAdded', function(event) {
  // event.item: contains the item
  //console.log("added");
  
});
    });
  </script>
}
