@model ShortListMVC.Models.Post

@{
    ViewData["Title"] = "İlanı sil";
}
<section class="dashboard section" style="margin-top:100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <partial name="_UserNavPartial" />
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="main-content">
                    <div class="dashboard-block mt-0">
                        <h3 class="block-title">İlan silinecek. Emin misiniz?</h3>
                        <div class="my-items">                            
                            <div>
                                <span style="color: #081828;">Başlık: </span>@Model.Title
                            </div>
                            <div>
                                <span style="color: #081828;">Tarih: </span>@Model.CreatedDate.ToShortDateString()
                            </div>

                            <form asp-action="Delete" class="py-3">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Sil" class="btn btn-danger" />
                            </form>
                            <a asp-controller="Posts" asp-action="UserPosts">Geri dön</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="call-action overlay section">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-2 col-12">
                <div class="inner">
                    <div class="content">
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">
                            Siz de ilanınızı Sarı Sayfalar'da verin<br>
                            zamandan tasarruf edin
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Sarı sayfalar ile siz de zaman kazanın<br> Sarı Sayfalar'da ilan vermek çok kolay!</p>
                        <div class="button wow fadeInUp" data-wow-delay=".8s">
                            <a asp-controller="Posts" asp-action="Create" class="btn">Hemen ilan ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
