@model IEnumerable<ShortListMVC.Models.Post>

@{
    ViewData["Title"] = "İlanlarım";
}

<section class="dashboard section" style="margin-top:100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="dashboard-sidebar">
                    <div class="dashboard-menu">
                        <ul>
                            <li><a class="active" asp-controller="Posts" asp-action="UserPosts"><i class="lni lni-bolt-alt"></i>İlanlarım</a></li>
                            <li>
                                <a asp-controller="Posts" asp-action="Create">
                                    <i class="lni lni-circle-plus"></i> İlan ver
                                </a>
                            </li>
                        </ul>
                        <div class="button">
                            <a class="btn" href="">Çıkış yap</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="main-content">
                    <div class="dashboard-block mt-0">
                        <h3 class="block-title">İlanlarım</h3>
                        <div class="inner-block">
                            <div class="post-ad-tab">
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade active show" id="nav-item-info" role="tabpanel" aria-labelledby="nav-item-info-tab">
                                        <div class="step-one-content">
                                            <p>Hiç ilanınız yok.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="call-action overlay section">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-2 col-12">
                <div class="inner">
                    <div class="content">
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">
                            Siz de ilanınızı Sarı Sayfalar'da verin<br>
                            zamandan tasarruf edin
                        </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Sarı sayfalar ile siz de zaman kazanın<br> Sarı Sayfalar'da ilan vermek çok kolay!</p>
                        <div class="button wow fadeInUp" data-wow-delay=".8s">
                            <a asp-controller="Posts" asp-action="Create" class="btn">Hemen ilan ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
