@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Today's Posts</h1>
    <p>Read today's posts here.</p>
    <p>Or 
    <a asp-page="/Posts/Create">Create New Post</a>.
</p>

    @foreach(var post in Model.Post)
    {
        <h2>@post.Title</h2>
        <p>@post.Content</p>
    }
</div>
